---
layout: nil
page: about
---

{% include header.html %}
<img src="self.jpg" width="100%">

<div class="content">
  <div class="post-content">
    <h3 class="title">About</h3>
    <p>My name is Jen, but you can call me Edna.</p>
    <p>Back in the day, I received a degree in Philosophy, specializing in Cognitive Science and Phenomenology.</p>
    <p>I've trekked around the land of computers and technical steampunkery. You can see that all <a href="http://www.linkedin.com/in/ednapiranha">here</a>.</p>
    <p>Currently, I work at <a href="http://mozilla.org">Mozilla</a>.</p>
    <p>In my spare time, I create projects involving: textual analysis/processing, encryption, media (re)generation and participant-driven data mutations (also known as: watching people break stuff).</p>
    <p>You can follow my struggle to be a non-conformist on <a href="http://twitter.com/ednapiranha">Twitter</a> or follow my <a href="https://github.com/ednapiranha">code</a>.</p> 
  </div>
</div>

{% include footer.html %}