---
layout: nil
is_index: true
---

{% include header.html %}
<h2>Recent Posts</h2>
{% for post in paginator.posts limit:3 %}
  {% include post_preview.html %}
{% endfor %}

<div class="pagination" id="bottom">
  <ul>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li class="previous"><a href="{{ site.baseurl }}/">&larr; Newer</a></li>
    {% else %}
      <li class="previous"><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">&larr; Newer</a></li>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <li class="next"><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">Older &rarr;</a></li>
  {% endif %}
  </ul>
</div>
{% include footer.html %}