/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: Helvetica, Arial;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
    min-width: 270px;
    padding: 40px 20px 20px 20px;
    position: relative;
}

p, li, a, span {
    color: #333;
    font-size: 0.97em;
    line-height: 1.35em;
}

.top-link {
    color: #666;
    display: block;
    font-size: 0.7em;
    padding: 3px 10px 3px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0px;
}

.active {
    background-color: #333;
    color: #fff;
}

#about {
    left: 80px;
}

h1, h2, h3, h4 {
    color: #111;
    font-size: 1.9em;
    letter-spacing: -0.04em;
    line-height: 1em;
    margin-top: 20px;
    text-transform: uppercase;
}

.title {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.content.preview {
    margin-bottom: 50px;
}

.content.preview:last-child {
    margin-bottom: 0px;
}

.home .title {
    border-bottom: 0px;
    font-size: 1.7em;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.title a {
    color: #111;
    padding: 3px 5px 0;
}

.title a:hover {
    background-color: #111;
    color: #eee;
}

.post-content a {
    border-bottom: 1px dashed #24c9e7;
    color: #222;
    font-size: 1em;
    padding: 0px 3px 0px 3px;
}

.post-content ul, .post-content ol {
    list-style-type: circle;
    margin-left: 20px;
}

.post-content a:hover {
    color: #24c9e7;
}

.post-content img {
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 180px;
}

p {
    margin-bottom: 18px;
}

.date {
    font-style: italic;
    margin-bottom: 10px;
}

ul, ol {
    margin: 30px 0px 30px 0px;
}

ol li {
    list-style-type: decimal;
    margin: 0px 30px 8px 30px;
}

a {
    text-decoration: none;
}

.footer {
    clear: both;
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 600px;
    min-width: 270px;
    padding: 0px 20px 0px 20px;
}

.footer li {
    margin: 5px 10px 5px 0px;
}

.footer ul {
    display: block;
    float: left;
    margin: 0px;
    width: 33.3%;
}

.footer li h2 {
    background-color: #c4dc24;
    color: #fcffeb;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 4px 5px 0 0;
    text-align: right;
    width: 100%;
}

.footer li a {
    color: #333;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0px 3px 0px 3px;
}

.footer li a:hover {
    background-color: #d5dee0;
}

.categories {
    font-style: italic;
}

#bottom {
    float: right;
}

h2 {
    background-color: #25e4f5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #d4fbff;
    display: inline-block;
    font-size: 1.5em;
    margin: 0 0px 20px 0px;
    padding: 4px 5px 0 80px;
}

.pagination ul {
    margin: 0;
}

@media only screen and (max-width: 360px) and (orientation:portrait) {
    .footer ul {
        width: 95%;
    }
}
