    </div>

    <div class="footer">
      <div class="footer-wrapper">
        <ul>
          <li><h2>Projects</h2></li>
          <li><a href="http://lexicrypt.com">Lexicrypt</a></li>
          <li><a href="http://greatbrain.heroku.com">The Great Brain</a></li>
          <li><a href="http://refrig.in">Refrig</a></li>
          <li><a href="http://thenonsequitur.org">The Non Sequitur</a></li>
          <li><a href="http://collektr.com">Collektr</a></li>
          <li><a href="http://paperweb.me">Paperweb</a></li>
        </ul>
        <ul>
          <li><h2>Code</h2></li>
          <li><a href="https://github.com/ednapiranha/noodletalk">Noodle Talk</a></li>
          <li><a href="https://github.com/ednapiranha/web_imagery">Web Imagery</a></li>
          <li><a href="https://github.com/ednapiranha/auto-tagify">Auto Tagify</a></li>
          <li><a href="https://github.com/ednapiranha/tapechat">Tapechat</a></li>
        </ul>
        <ul>
          <li><h2>Other</h2></li>
          <li><a href="http://twitter.com/ednapiranha">Twitter</a></li>
          <li><a href="http://www.mixcloud.com/lazykiki">Podcasts</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4319539-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>