<!DOCTYPE html>
<html>
  <head>
    <title>edna piranha</title>
    <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.95, maximum-scale=0.95, minimum-scale=0.95" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/main.css">
  </head>
  <body>
    <div class="wrapper{% if page.is_index %} home{% endif %}">
      <a href="{{ site.baseurl }}/" id="home">Home</a>