<!DOCTYPE html>
<html>
  <head>
    <title>edna piranha</title>
    <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.95, maximum-scale=0.95, minimum-scale=0.95" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/main.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4319539-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="wrapper{% if page.is_index %} home{% endif %}">
      <a href="{{ site.baseurl }}/" id="home" class="top-link{% if page.is_index %} active{% endif %}">Home</a>
      <a href="{{ site.baseurl }}/about.html" id="about" class="top-link{% if page.page == 'about' %} active{% endif %}">About</a>